.menu {font-size: 20px;      font-style:oblique;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: black;
    position: fixed;
    left: 10px;
    z-index: 2000;
border-radius: 10px 10px;
list-style: none;
    display: flex;
    padding: 20px;
    border-radius: 10px 10px;
}
/* Menu Lateral */
.fundo {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 170px;
    height: 500vh;
    background-color:whitesmoke;
    transition: left 0.5s;
    z-index: 1000;
    border-radius: 10px 10px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.botão-fechar-X {float: right;
    position: relative;right: 10px;top: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.animação ul li a:hover {
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    text-decoration: underline;
    width: 100px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    color: red;
    text-decoration: none;
    display: block;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
body{align-items: center;justify-content: center;text-align: center;margin: auto;background: linear-gradient(to right,white,black,white);}
h1{text-decoration: underline;text-shadow: 9px;color: white;font-size: 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;}
h2{text-shadow: 9px;color: black;font-size: 20px;font-family: Arial, Helvetica, sans-serif;font-style: italic;}
p{text-shadow: 9px;color: white;font-size: 16px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: inherit;}
a{text-decoration: none;text-shadow: 9px;border-radius: 10px 10px;font-size: 15px;}
ul{list-style-type: none;text-align: left;text-shadow: 9px;}
dl{padding: 7px;}
dt{padding: 7px;text-align: left;font-size: 20px;font-family: Arial, Helvetica, sans-serif;font-style: oblique;text-shadow: 9px;}
dd{padding: 7px;text-align: left;font-size: 15px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: initial;text-shadow: 9px;}
thead{text-align: left;text-shadow: 9px;font-size: 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;}
tbody{text-align: left;text-shadow: 9px;font-size: 15px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: inherit;}
tfoot{text-align: left;text-shadow: 9px;font-size: 20px;font-family: Arial, Helvetica, sans-serif;font-style: initial;}
summary{width: 210px;margin: auto;border-radius: 10px 10px;text-shadow: 9px;padding: 6px;cursor: pointer;}
section{text-align: center;justify-content: center;align-items: center;width: 300px;margin: auto;border-radius: 10px 10px;cursor: grab;padding: 10px;border: 6px solid blue;}
header{text-align: center;justify-content: center;align-items: center;width: 300px;margin: auto;border-radius: 10px 10px;cursor: grab;padding: 10px;border: 6px solid white;}
nav{text-align: center;justify-content: center;align-items: center;width: 300px;margin: auto;border-radius: 10px 10px;cursor: grab;padding: 10px;border: 6px solid wheat;}
footer{text-align: center;justify-content: center;align-items: center;width: 300px;margin: auto;border-radius: 10px 10px;cursor: grab;padding: 10px;border: 6px solid black;}
.summary:hover{transition: transform(0.3s);transform: scale(1.02);}
.section:hover{transition: transform(0.5s);transform: scale(1.05);}
.header:hover{transition: transform(0.6s);transform: scale(1.03);}
.nav:hover{transition: transform(0.4s);transform: scale(1.05);}
.footer:hover{transition: transform(0.6s);transform: scale(1.04);}
.img:hover{transition: transform(0.4s);transform: scale(1.03);}
.curses:hover{transition: transform(0.7s);transform: scale(1.08);}
